*{
	color: #fff;
}
a:link{
	color: #fff;
}
a.options:hover { 
	color:#fff; 
	}
a:visited{
	color: #fff;
}
.menu nav li {
		color: #fff;
}
.menu {
		background-color: #A8A8A8;
		color: #fff;
}
.header {
	background-color: #E6E6E6;
}
input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-moz-placeholder {
    color: transparent;
}

input:focus::-moz-placeholder {
    color: transparent;
}
.header-logo img {
	text-align:left;
	width:600px; 
	margin-left: 120px;
	margin-bottom: 50px;
}
.botao {
		background-color: #A8A8A8;
		color: #fff;
}	
.searchbox {
	background: url(http://i.imgur.com/xKn6CB6.png) no-repeat;
}
.searchbox input[type="text"] {
    color: #fff !important;
}
.searchbox input[type="text"]:focus {
	color: #fff;
}
.button-submit{
	background: url(http://4.bp.blogspot.com/-4MYBYE0i0Xk/VEQYlljvriI/AAAAAAAAAlQ/_TRkRG5EX1c/s1600/search-icon.png) no-repeat;
}
.button-submit:hover {
	background: url(http://4.bp.blogspot.com/-6S4K8eHPM-c/VEQdf7l84GI/AAAAAAAAAls/j7_kGSpkIfg/s1600/search-icon-hover.png);
}
.rodape {
	 	background-color: #A8A8A8;
		color: #fff;	
 }
 .conteudo {
	background-color: #E6E6E6;
}
.IMGs{
	width: 320px;
	float: right;
	border-radius: 10px;
	margin-right: 50px;
	margin-top: 78px;
}
.quadrado, .retangulo, .quadrado_dps{
	background-color: #A8A8A8;
}
.notice-img{
	width: 120px;
	height: 80px;
	border-radius: 10px;
}
.dp-img{
	width: 40px;
	border-radius: 50%;
	margin-left: 20px;
}
@media (max-width: 640px){
	 .header-logo .logobig{
	   width: 350px !important;
	   margin-left: 10px !important;
	   margin:0;
	   height: 50px;
	   margin-top: 10px !important;
   }
   .notice-img{
	width: 100px;
	height: 80px;
	margin:0 !important;
	border-radius: 10px;
	}
}